
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    font:62.5%;
    font-family: 'Courier New', Courier, monospace;
    background: cornsilk;
}

.page-wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.page-wrapper > * {
    padding: 3rem;
    margin: 3rem;
    flex: 1 100%;
    border-radius: 10px;
}

header {
    height: 30vh;
    background: cornsilk;
    
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid #4fc09a;
    padding-bottom: 3rem;
    color: #4FC09A;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #4fc09a;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    color: #4fc09a;
}
img {
    width: 5rem;
    height: auto;
    margin: 1rem;
    
}

img div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}




.box1 {
    background: #CDDFD9;
}

.box2 {
    background: #CDDFD9;
}

.box3 {
    background: #CDDFD9;
}

.box4 {
    background: #CDDFD9;
}

.box5 {
    background: #CDDFD9;
}

.box6 {
    background: #CDDFD9;
}

.box7 {
    background: #CDDFD9;
}


footer {
    background: #4fc09a;
    height: 20vh;
    max-width: 100%;
    
}

footer address {
    font-size: 1.5rem;
    color: black;
    font-weight: 500; 
}

footer address:hover {
    color: white;
}



@media(max-width:500px) {
    header h1 {
        font-size: 1.5rem;
        padding-top: 2rem;
        
    }
    header nav a {
        font-size: 1rem;
    }
}