
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    font:62.5%;
    font-family: 'Courier New', Courier, monospace;
    background: cornsilk;
}

.page-wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.page-wrapper > * {
    padding: 3rem;
    margin: 3rem;
    flex: 1 100%;
    border-radius: 10px;
}

header {
    height: 30vh;
    max-width: 100%;
    background: rgb(47, 54, 51);
    padding: 3rem;
    margin: 3rem;
    flex: 1 100%;
    border-radius: 1rem;
    
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(47, 54, 51);
    padding-bottom: 3rem;
    color: rgb(47, 54, 51);
    margin: 1rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: rgb(47, 54, 51);
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    max-width: 100%;
}

.nav {
    width: 100%;
    
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #4fc09a;
}

nav a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}

.logo  {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo img{
    width: 5rem;
    height: 5rem;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
}

img {
    width: 5rem;
    height: auto;
    margin: 1rem;
    
}

img div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.box-title {
    background: #CDDFD9;
}

.box1 {
    background: #CDDFD9;
}

.box2 {
    background: #CDDFD9;
}

.box3 {
    background: #CDDFD9;
}

.box4 {
    background: #CDDFD9;
}

.box5 {
    background: #CDDFD9;
}

.box6 {
    background: #CDDFD9;
}

.box7 {
    background: #CDDFD9;
}


footer {
    background: rgb(47, 54, 51);
    height: 20vh;
    max-width: 100%;
    
}

footer address {
    font-size: 1.5rem;
    color: #4fc09a;
    font-weight: 500; 
}

footer address:hover {
    color: white;
}

@media(max-width: 1024px) {
    nav a {
       font-size: 2rem;
       margin: 1rem; 
    }
}


@media(max-width: 800px) {
    nav a {
        font-size: 1.5rem;
        margin: 1rem;
    }
}

@media(max-width:500px) {
    nav a {
        font-size: 1rem;
        margin: 1rem;
    }
}